@{
    ViewData["Title"] = "Home Page";
}

<div>
    <input type="hidden" id="convertToShort" value="@Url.Action("ConvertToShort","Home")" />
</div>

<div class="text-center">
    <h1 class="display-4">Сервис сокращения ссылок</h1>
</div>

<div class="input-group mb-3">
        <input type="text" class="form-control" id="userUrl" />
    <div class="input-group-append">
        <button class="btn btn-primary" id="btnGetShotUrl" type="button">Сократить</button>
    </div>
</div>
<div id="showShortUrl" hidden>
    <p>Ваша короткая ссылка:</p>
    <div id="shortUrl"></div>
</div>

